.Table {
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #ede0df;
  height: 1rem;
  margin: 4rem 0 0 0;
  cursor: pointer;
}

.Table td,
.Table th {
  padding: 1.5rem;
}

table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
 border-right: 1px solid black;
}

.Table tr:nth-child(even) {
  background-color: #2f2525;
}

.Table tr:hover {
  background-color: #433535;
}

.Table th {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: left;
  background-color: #5c3f3f;
  color: white;
}