.DropdownChoice {
  position: relative;
  padding: 2rem;
  margin: 2px 0 0 2px;
  border-radius: 0 12rem 12rem 0;
  background-color: #2f2525;
  cursor: pointer;
}

.DropdownHidden {
  display: none;
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #5c3f3f;
  border-radius: 0 2rem 2rem 0;
  z-index: 1;
}

.DropdownItem:hover .DropdownHidden {
  display: block;
}
